
* {
    font-family: sans-serif;
}

body {
    width: 100%;
    background-color: rgb(243, 243, 243);
    text-align: center;
}

.container-nav {
    text-align: center;
    font-variant: all-petite-caps;
    background: #ffffff;
    padding: 17px;
    box-shadow: 0px 0px 11px 0px #e8e8e8;
}

.img-logout {
    margin-left: 180px;
    height: 40px;
    width: 40px;
}

.txt-margin {
    margin-right: 410px;
}

.des-img {
    background: #ffffff;
    padding: 10px;
    display: inline-grid;
    box-shadow: 0px 0px 11px 0px #e8e8e8;
    border-radius: 20px;
}

.container {
    background: #ffffff;
    padding: 40px;
    display: inline-grid;
    box-shadow: 0px 0px 11px 0px #e8e8e8;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-variant: all-petite-caps;
}

.navbar-collapse {
    margin-left: 180px;
}

.navbar-brand {
    margin-left: 140px;
}

.navbar {
    border-radius: 0;
}

.row {
    padding: 20px;
}

@media (max-width: 650px) {

    .container {
        width: auto;
    }

    .des-img {
        display: none;
    }

}

